In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error 
from sklearn.model_selection import train_test_split

In [2]:
# save filepath to variable for easier access
mentalhealth_file_path = '/home/steph/mental-health-research-proj/student_mental_health.csv'
# read the data and store it in DataFrame (mentalhealth_data)
mentalhealth_data = pd.read_csv(mentalhealth_file_path)

In [3]:
mentalhealth_data

,Timestamp,Choose_your_gender,Age,What_is_your_course,Your_current_year_of_Study,What_is_your_CGPA,Marital_status,Do_you_have_Depression,Do_you_have_Anxiety,Do_you_have_Panic_attack,Did_you_seek_any_specialist_for_a_treatment
0,8/7/2020 12:02,1,18.0,Engineering,1,3,0,1,0,1,0
1,8/7/2020 12:04,0,21.0,Islamic education,2,3,0,0,1,0,0
2,8/7/2020 12:05,0,19.0,BIT,1,3,0,1,1,1,0
3,8/7/2020 12:06,1,22.0,Laws,3,3,1,1,0,0,0
4,8/7/2020 12:13,0,23.0,Mathemathics,4,3,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
96,13/07/2020 19:56:49,1,21.0,BCS,1,4,0,0,1,0,0
97,13/07/2020 21:21:42,0,18.0,Engineering,2,3,0,1,1,0,0
98,13/07/2020 21:22:56,1,19.0,Nursing,3,4,1,1,0,1,0
99,13/07/2020 21:23:57,1,23.0,Pendidikan Islam,4,4,0,0,0,0,0
100,18/07/2020 20:16:21,0,20.0,Biomedical science,2,3,0,0,0,0,0

In [4]:
# displays questionnaire questions
mentalhealth_data.columns

Index(['Timestamp', 'Choose_your_gender', 'Age', 'What_is_your_course',
       'Your_current_year_of_Study', 'What_is_your_CGPA', 'Marital_status',
       'Do_you_have_Depression', 'Do_you_have_Anxiety',
       'Do_you_have_Panic_attack',
       'Did_you_seek_any_specialist_for_a_treatment'],
      dtype='object')

In [5]:
# dropna drops data with missing values 
mentalhealth_data = mentalhealth_data.dropna(axis=0)

In [6]:
# gives a rundown of the data in the dataset
mentalhealth_data.describe(include ='all')

,Timestamp,Choose_your_gender,Age,What_is_your_course,Your_current_year_of_Study,What_is_your_CGPA,Marital_status,Do_you_have_Depression,Do_you_have_Anxiety,Do_you_have_Panic_attack,Did_you_seek_any_specialist_for_a_treatment
count,100,100.000000,100.00000,100,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
unique,91,NaN,NaN,49,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,8/7/2020 12:39,NaN,NaN,BCS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,3,NaN,NaN,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,0.750000,20.53000,NaN,1.980000,3.310000,0.160000,0.350000,0.340000,0.330000,0.060000
std,NaN,0.435194,2.49628,NaN,0.994734,0.884148,0.368453,0.479372,0.476095,0.472582,0.238683
min,NaN,0.000000,18.00000,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,0.750000,18.00000,NaN,1.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,1.000000,19.00000,NaN,2.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,NaN,1.000000,23.00000,NaN,3.000000,4.000000,0.000000,1.000000,1.000000,1.000000,0.000000
max,NaN,1.000000,24.00000,NaN,4.000000,4.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
# popularity of each course (how many students are in each)
course_popularity = mentalhealth_data['What_is_your_course'].value_counts().reset_index().head()
print(course_popularity)

                index  What_is_your_course
0                 BCS                   18
1         Engineering                   17
2                 BIT                    9
3  Biomedical science                    4
4                 KOE                    4

In [8]:
# number of female and males
# 0 is male, 1 is female
count_gender = mentalhealth_data['Choose_your_gender'].value_counts().reset_index()
print(count_gender)

   index  Choose_your_gender
0      1                  75
1      0                  25

In [9]:
# mean age of both males and females
# 0 is male, 1 is female
mentalhealth_data['Age'].groupby(mentalhealth_data['Choose_your_gender']).mean().reset_index()

   Choose_your_gender        Age
0                   0  20.520000
1                   1  20.533333

In [10]:
# number of students married vs not married
# 0 is not married, 1 is married
marital_status = mentalhealth_data['Marital_status'].value_counts().reset_index()
print(marital_status)

   index  Marital_status
0      0              84
1      1              16

In [11]:
# percentage of total students facing depression
depression = mentalhealth_data['Do_you_have_Depression'][mentalhealth_data['Do_you_have_Depression'] == 1].count()
depression_percentage = (depression/mentalhealth_data.shape[0])*100
print("%d percent of students in this study stated they have depression." %(depression_percentage))

35 percent of students in this study stated they have depression.

In [12]:
# percentage of students facing anxiety
anxiety = mentalhealth_data['Do_you_have_Anxiety'][mentalhealth_data['Do_you_have_Anxiety'] == 1].count()
anxiety_percentage = (anxiety/mentalhealth_data.shape[0])*100
print("%d percent of students in this study stated they have anxiety." %(anxiety_percentage))

34 percent of students in this study stated they have anxiety.

In [13]:
# prediction targets (what we are trying to predict with the data provided)
a = mentalhealth_data.Do_you_have_Depression
b = mentalhealth_data.Do_you_have_Anxiety
c = mentalhealth_data.Do_you_have_Panic_attack
d = mentalhealth_data.Did_you_seek_any_specialist_for_a_treatment

In [14]:
# columns to be used to make predictions that may affect the outcome
# removed "What is your course" to ensure data can be read correctly
mentalhealth_features = ['Choose_your_gender', 'Age', 'Your_current_year_of_Study', 'What_is_your_CGPA', 'Marital_status']
#took out course bc its string
X = mentalhealth_data[mentalhealth_features]
X.describe(include = 'all')

,Choose_your_gender,Age,Your_current_year_of_Study,What_is_your_CGPA,Marital_status
count,100.000000,100.00000,100.000000,100.000000,100.000000
mean,0.750000,20.53000,1.980000,3.310000,0.160000
std,0.435194,2.49628,0.994734,0.884148,0.368453
min,0.000000,18.00000,1.000000,0.000000,0.000000
25%,0.750000,18.00000,1.000000,3.000000,0.000000
50%,1.000000,19.00000,2.000000,3.000000,0.000000
75%,1.000000,23.00000,3.000000,4.000000,0.000000
max,1.000000,24.00000,4.000000,4.000000,1.000000

In [15]:
# defines the model - specify num for random state to ensure same results each run
mentalhealth_model = DecisionTreeRegressor(random_state = 1)
# Fit model
mentalhealth_model.fit(X,a)
#DecisionTreeRegressor(random_state = 1)

DecisionTreeRegressor(random_state=1)

In [16]:
print("Making predictions for the following 5 samples:")
print(X.head())
print("Predictions are the following: ")
print(mentalhealth_model.predict(X.head()))

Making predictions for the following 5 samples:
   Choose_your_gender   Age  Your_current_year_of_Study  What_is_your_CGPA  \
0                   1  18.0                           1                  3
1                   0  21.0                           2                  3
2                   0  19.0                           1                  3
3                   1  22.0                           3                  3
4                   0  23.0                           4                  3

   Marital_status
0               0
1               0
2               0
3               1
4               0
Predictions are the following:
[1.  0.  0.5 1.  0. ]

In [17]:
print("Mean in-sample absolute error: ")
predicted_depression_status = mentalhealth_model.predict(X)
# in-sample mean abs error
# for initial parameter estimation and model selection
mean_absolute_error(a, predicted_depression_status)

Mean in-sample absolute error:

0.12499999999999999

In [18]:
# this will split data into training and validation data for features & target 
# random_state = 1 to ensure same split every time script is run
train_X, val_X, train_a, val_a = train_test_split(X, a, random_state = 1)
# fit model
mentalhealth_model.fit(train_X, train_a)
# predicted depression values based on validation data:
val_predictions = mentalhealth_model.predict(val_X)
# out of sample mean abs error:
# used to evaluate forecasting performance
print("Mean out-of-sample absolute error: ")
print(mean_absolute_error(val_a, val_predictions))
print("The mean in-sample abs error is smaller than the mean out-of-sample abs error, so in-sample is better to use.")

Mean out-of-sample absolute error:
0.2
The mean in-sample abs error is smaller than the mean out-of-sample abs error, so in-sample is better to use.