In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor

In [2]:
# save filepath to variable for easier access
mentalhealth_file_path = '/home/student/mental-health-research-proj/student_mental_health.csv'
# read the data and store it in DataFrame (mentalhealth_data)
mentalhealth_data = pd.read_csv(mentalhealth_file_path)

In [3]:
# displays questionnaire questions
mentalhealth_data.columns

Index(['Timestamp', 'Choose_your_gender', 'Age', 'What_is_your_course',
       'Your_current_year_of_Study', 'What_is_your_CGPA', 'Marital_status',
       'Do_you_have_Depression', 'Do_you_have_Anxiety',
       'Do_you_have_Panic_attack',
       'Did_you_seek_any_specialist_for_a_treatment'],
      dtype='object')

In [4]:
# dropna drops missing values 
mentalhealth_data = mentalhealth_data.dropna(axis=0)

In [5]:
# gives a rundown of the data in the dataset
mentalhealth_data.describe(include = 'all')

,Timestamp,Choose_your_gender,Age,What_is_your_course,Your_current_year_of_Study,What_is_your_CGPA,Marital_status,Do_you_have_Depression,Do_you_have_Anxiety,Do_you_have_Panic_attack,Did_you_seek_any_specialist_for_a_treatment
count,100,100.000000,100.00000,100,100.000000,100,100.000000,100.000000,100.000000,100.000000,100.000000
unique,91,NaN,NaN,49,NaN,6,NaN,NaN,NaN,NaN,NaN
top,8/7/2020 12:39,NaN,NaN,BCS,NaN,3.50 - 4.00,NaN,NaN,NaN,NaN,NaN
freq,3,NaN,NaN,18,NaN,47,NaN,NaN,NaN,NaN,NaN
mean,NaN,0.750000,20.53000,NaN,1.980000,NaN,0.160000,0.350000,0.340000,0.330000,0.060000
std,NaN,0.435194,2.49628,NaN,0.994734,NaN,0.368453,0.479372,0.476095,0.472582,0.238683
min,NaN,0.000000,18.00000,NaN,1.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,0.750000,18.00000,NaN,1.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,1.000000,19.00000,NaN,2.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
75%,NaN,1.000000,23.00000,NaN,3.000000,NaN,0.000000,1.000000,1.000000,1.000000,0.000000
max,NaN,1.000000,24.00000,NaN,4.000000,NaN,1.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
# prediction targets (what we are trying to predict with the data provided)
a = mentalhealth_data.Do_you_have_Depression
b = mentalhealth_data.Do_you_have_Anxiety
c = mentalhealth_data.Do_you_have_Panic_attack
d = mentalhealth_data.Did_you_seek_any_specialist_for_a_treatment

In [7]:
# columns to be used to make predictions that may affect the outcome
mentalhealth_features = ['Choose_your_gender', 'Age', 'Your_current_year_of_Study', 'Marital_status']
#took out course bc its string and cgpa
X = mentalhealth_data[mentalhealth_features]
X.describe(include = 'all')

,Choose_your_gender,Age,Your_current_year_of_Study,Marital_status
count,100.000000,100.00000,100.000000,100.000000
mean,0.750000,20.53000,1.980000,0.160000
std,0.435194,2.49628,0.994734,0.368453
min,0.000000,18.00000,1.000000,0.000000
25%,0.750000,18.00000,1.000000,0.000000
50%,1.000000,19.00000,2.000000,0.000000
75%,1.000000,23.00000,3.000000,0.000000
max,1.000000,24.00000,4.000000,1.000000

In [8]:
# defines the model - specify num for random state to ensure same results each run
mentalhealth_model = DecisionTreeRegressor(random_state = 1)
# Fit model
mentalhealth_model.fit(X,a)
#DecisionTreeRegressor(random_state = 1)

DecisionTreeRegressor(random_state=1)